# Directories
.vscode/
/build/
CMakeFiles
CMakeScripts
.dummy/
tmp/
vc6/
vc10/
vc12/

# Files
CMakeSettings.json
*.html
*.doc
CMakeCache.txt
Makefile
cmake_install.cmake
.gitignore
YamaEngine/External/glew/glew.pc
